<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NatChat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SignalRChat.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/appico.ico">
</head>
<body>
    <header>
        @Html.Partial("_NavBar")
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div><strong><span id="homeTime"></span></strong></div>
            @ViewData["FlashMessage"]
            <div class="row p-1">
                <div class="col-6">
                    <ul style="width: 200px;" id="noticeList"></ul>
                </div>
            </div>
        </div>   
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NatChat - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/times.js"></script>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
